{% extends 'base.html' %}
{% load humanize %}
{% load filters %}

{% block header %}
{% include 'ecapp/header.html' %}
{% endblock %}

{% block content %}

<div class="cart">
    <h2>カート</h2>
    <div class="purchase-form">
        <form action="{% url 'ecapp:cart' %}" method="post">{% csrf_token %}
            <div class="purchase-form-container">
                {% if request.user.address %}
                <p>{{ request.user.address }} にお届け</p>
                {% else %}
                <p>住所が設定されていません</p>
                <div class="purchase-form-address">
                    <div>
                        {{ purchase_form.non_field_errors }}
                        {{ purchase_form.zip_code.label_tag }}
                        {{ purchase_form.zip_code }}
                        <input type="submit" name="search_address" value="住所を検索">
                        <span>{{ purchase_form.zip_code.help_text }}</span>
                    </div>
                    <div>
                        {{ purchase_form.address.label_tag }}
                        {{ purchase_form.address }}
                    </div>
                </div>
                {% endif %}
                <div class="purchase-form-pay">
                    請求額：{{ total_price | intcomma }}
                    <input type="submit" name="buy_product" value="購入する" class="purchase-button">
                </div>
            </div>
        </form>
    </div>

    {% if not cart_products %}
    <h3>カートは空です</h3>
    {% endif %}

    {% for product, num in cart_products.items %}
    <div class="order-item">
        <div class="order-item-image">
            <a href="{% url 'ecapp:detail' product.id %}">
                <img src="{{ product.image.url }}" alt="" class="product-img">
            </a>
        </div>
        <div class="order-item-info">
            <h2>{{ product.name }}</h2>
            <h4>在庫：　{{ product.amount }}個</h4>
            <div>価格：<span class="info-value">{{ product.price | intcomma }}</span></div>
            <div>個数：<span class="info-value">{{ num | intcomma }}</span></div>
            <hr>
            <div>小計：<span class="info-value">{{ product.price | multiply:num | intcomma }}</span></div>
            <div class="order-item-amount-form">
                <form action="{% url 'ecapp:change_item_amount' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="submit" name="action_remove" value="一つ減らす">
                    <input type="submit" name="action_add" value="一つ増やす">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}

    <div>
        {% if products.has_previous %}
        <a href="{% url 'ecapp:cart' %}?page=1">&laquo;first</a>
        <a href="{% url 'ecapp:cart' %}?page={{ products.previous_page_number }}">&laquo;prev</a>
        {% endif %}
        <span>{{ products.number }}/{{ products.paginator.num_pages }}</span>
        {% if products.has_next %}
        <a href="{% url 'ecapp:cart' %}?page={{ products.next_page_number }}">next&raquo;</a>
        <a href="{% url 'ecapp:cart' %}?page={{ products.paginator.num_pages }}">last&raquo;</a>
        {% endif %}
    </div>

</div>

{% endblock %}