{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="card">
    <div class="row no-gutters">
        <aside class="col-md-6 d-flex align-items-center">
            <img class="img-lg d-block mx-auto" src="{{ product.image.url }}" alt="">
        </aside>
        <main class="col-md-6 border-left p-2">
            <a href="{% url 'ecapp:toggle_fav_product_status' %}" class="float-right"><i class="far fa-heart"></i></a>
            <article class="content-body">
                <h1>{{ product.name }}</h1>
                <div class="mb-3">
                    <h4><var>{{ product.price | intcomma }}</var>point</h4>
                </div>
                <p>{{ product.description }}</p>
                <p class="text-muted">在庫：　{{ product.amount }}個</p>
                <hr>
                <div class="point-fav-section">
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'ecapp:toggle_fav_product_status' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        {% if product in request.user.fav_products.all %}
                        <input type="submit" name="submit" class="fav_button" value="お気に入りから外す">
                        {% else %}
                        <input type="submit" name="submit" class="fav_button" value="お気に入りに入れる">
                        {% endif %}
                    </form>
                    {% endif %}
                </div>
                {% if request.user.is_authenticated %}
                <form action="{% url 'ecapp:detail' product.id %}" method="post">{% csrf_token %}
                    {{ add_to_cart_form.as_p }}
                    <button type="submit" name="#" class="btn btn-primary"> 今すぐ購入 </button>
                    <button type="submit" name="#" class="btn btn-outline-primary"> <span class="text">カートに入れる</span> <i
                            class="fas fa-shopping-cart"></i>
                    </button>
                </form>
                {% else %}
                <a href="{% url 'users:login' %}?next={{ request.path }}">
                    <button class="purchase-button">ログインして購入する</button>
                </a>
                {% endif %}
            </article>
        </main>
    </div>
</div>

<div class="container-fulid px-3 mb-5 mt-3">
    <div class="container bg-info rounded-lg">
        <h2 class="text-light d-inline-block ml-3 my-1">
            {{ product.name }}<small>に関する記事</small>
        </h2>
    </div>
    <div class="container pt-3 border border-info rounded">
        {% for article in product.article_set.all %}
        <div class="media row mb-3 pb-3 border-bottom border-info">
            <div class="media-body col-9 h-auto">

                <p>{{ article.content }}</p>
            </div>
            <form action="{% url 'snsapp:good' article.pk %}" method="post">{% csrf_token %}
                <input class="btn btn-primary" type="submit" name="good" value="good">
            </form>
            <p>good: <strong>{{ article.good_count }}</strong></p>
            {% if article.author == request.user %}
            <form action="{% url 'snsapp:delete' article.id %}" method="post">{% csrf_token %}
                <button class="btn btn-danger" type="submit" onclick="return confirm('本当に削除しますか？');">削除</button>
            </form>
            {% endif %}
            <div class="mt-auto">
                <p class="font-italic d-inline">{{ article.created_at | date:"Y/m/d f" }}</p>
                by<a href="{% url 'users:user_detail' article.author.id %}">{{ article.author.username }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}