{% extends 'base.html' %}
{% load humanize %}

{% block content %}

{% if 'my_products' in request.path %}
<div class="alert alert-danger">
    <h3>出品一覧</h3>
</div>

{% elif 'fav_products' in request.path %}
<div class="alert alert-danger">
    <h3>お気に入り商品</h3>
</div>

{% else %}
<div class="alert alert-danger">
    <h3>EC TOP</h3>
</div>
<form action="{% url 'ecapp:index' %}" method="POST" class="search" class="mx-auto row">{% csrf_token %}
    <div class="input-group col-lg-4 col-md-6 row ml-auto mr-4 mb-4">
        <div class="col-3 p-0">
            {{ search_form.select }}
        </div>
        <div class="col-8 p-0">
            {{ search_form.keyword }}
        </div>
        <div class="input-group-append col-1 p-0">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>
{% endif %}

<div class="container-fluid row px-3">
    {% for product in products %}
    <div class="col-lg-2 col-md-3 col-sm-6 mb-3">
        <figure class="card card-product-grid h-100">
            <span class="topbar">
                <a href="{% url 'ecapp:toggle_fav_product_status' %}" class="float-right"><i
                        class="far fa-heart"></i></a>
            </span>
            <div class="img-wrap align-items-center">
                <a href="{% url 'ecapp:detail' product.id %}" class="d-block mx-auto">
                    <img src="{{ product.image.url }}" class="img-ec d-block mx-auto mb-1"></a>
            </div>
            <figcaption class="info-wrap border-top">
                <a href="{% url 'ecapp:detail' product.id %}" class="title">{{ product.name }}</a>
                <small class="text-muted">在庫: {{ product.amount }}</small>
                <div class="price mt-2">Point: {{ product.price | intcomma }}</div>
            </figcaption>
        </figure>
    </div>
    {% endfor %}
</div>

<div>
    {% if products.has_previous %}
    <a href="{% url 'ecapp:index' %}?page=1">&laquo;first</a>
    <a href="{% url 'ecapp:index' %}?page={{ products.previous_page_number }}">&laquo;prev</a>
    {% endif %}
    <span>{{ products.number }}/{{ products.paginator.num_pages }}</span>
    {% if products.has_next %}
    <a href="{% url 'ecapp:index' %}?page={{ products.next_page_number }}">next&raquo;</a>
    <a href="{% url 'ecapp:index' %}?page={{ products.paginator.num_pages }}">last&raquo;</a>
    {% endif %}
</div>

{% endblock %}