{% extends 'base.html' %}
{% load humanize %}

{% block header %}
{% include 'ecapp/header.html' %}
{% endblock %}

{% block content %}

{% if 'my_products' in request.path %}
<div #style="font-weight:bold; font-size: 28px; margin-bottom: 20px;">
    出品一覧
</div>

{% elif 'fav_products' in request.path %}
<div #style="font-weight:bold; font-size: 28px; margin-bottom: 20px;">
    お気に入り商品
</div>

{% else %}
<form action="{% url 'ecapp:index' %}" method="POST">{% csrf_token %}
    {{ search_form.select }}
    {{ search_form.keyword }}
    <button type="submit">検索</button>
</form>
{% endif %}

<div class="product-container">
    {% for product in products %}
    <div class="product">
        <a href="{% url 'ecapp:detail' product.id %}">
            <img src="{{ product.image.url }}" alt="" class="product-img">
        </a>
        <div class="product-info">
            <div class="product-name">{{ product.name }}</div>
            <div class="product-price">Point: {{ product.price | intcomma }}</div>
        </div>
    </div>
    {% endfor %}
</div>

<div>
    {% if products.has_previous %}
    <a href="{% url 'ecapp:index' %}?page=1">&laquo;first</a>
    <a href="{% url 'ecapp:index' %}?page={{ products.previous_page_number }}">&laquo;prev</a>
    {% endif %}
    <span>{{ products.number }}/{{ products.paginator.num_pages }}</span>
    {% if products.has_next %}
    <a href="{% url 'ecapp:index' %}?page={{ products.next_page_number }}">next&raquo;</a>
    <a href="{% url 'ecapp:index' %}?page={{ products.paginator.num_pages }}">last&raquo;</a>
    {% endif %}
</div>

{% endblock %}