{% extends 'base.html' %}
{% load humanize %}
{% load filters %}

{% block header %}
{% include 'ecapp/header.html' %}
{% endblock %}

{% block content %}

<div class="order-history">

    <h2>注文履歴</h2>

    {% for sale in sales %}
    <div class="order-item">
        <div class="order-item-image">
            <a href="{% url 'ecapp:detail' sale.product.id %}">
                <img src="{{ sale.product.image.url }}" alt="" class="product-img">
            </a>
        </div>
        <div class="order-item-info">
            <h2>{{ sale.product.name }}</h2>
            <div>価格：<span class="info-value">{{ sale.price | intcomma }}</span></div>
            <div>個数：<span class="info-value">{{ sale.amount | intcomma }}</span></div>
            <hr>
            <div>小計：<span class="info-value">{{ sale.price | multiply:sale.amount | intcomma }}</span></div>
            <span class="info-timestamp">{{ sale.created_at | date:"Y/m/d" }}</span>
        </div>
    </div>
    {% endfor %}
</div>

<div>
    {% if sales.has_previous %}
    <a href="{% url 'ecapp:order_history' %}?page=1">&laquo;first</a>
    <a href="{% url 'ecapp:order_history' %}?page={{ sales.previous_page_number }}">&laquo;prev</a>
    {% endif %}
    <span>{{ sales.number }}/{{ sales.paginator.num_pages }}</span>
    {% if sales.has_next %}
    <a href="{% url 'ecapp:order_history' %}?page={{ sales.next_page_number }}">next&raquo;</a>
    <a href="{% url 'ecapp:order_history' %}?page={{ sales.paginator.num_pages }}">last&raquo;</a>
    {% endif %}
</div>

{% endblock %}