{% extends 'base.html' %}

{% block header %}
{% include 'ecapp/header.html' %}
{% endblock %}

{% block content %}

<div class="alert alert-danger">
    <h3>商品を出品</h3>
</div>

<div class="container p-3">
    <form action="{% url 'ecapp:sell' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <label>商品名</label>
        {{ sell_form.name }}
        <label>商品説明</label>
        {{ sell_form.description }}
        <label>値段</label>
        {{ sell_form.price }}
        <label>個数</label>
        {{ sell_form.amount }}
        <label>商品画像</label>
        {{ sell_form.image }}
        <button class="btn btn-primary mt-3" type="submit">出品する</button>
    </form>
</div>

{% endblock %}