{% extends 'base.html' %}

{% block content %}

<h3 class="text-secondary">アカウント設定</h3>

<div class="container mb-3">
    <form action="{% url 'users:edit_profile' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class=" form-group">
            {{ profile_form.username.label_tag }}
            {{ profile_form.username }}
        </div>
        <div class="form-group">
            {{ profile_form.email.label_tag }}
            {{ profile_form.email }}
        </div>
        <div class="form-group">
            {{ profile_form.zip_code.label_tag }}
            {{ profile_form.zip_code }}
            <input class="btn btn-primary mt-1" type="submit" name="search_address" value="住所を検索">
        </div>
        <div class="form-group">
            {{ profile_form.address.label_tag }}
            {{ profile_form.address }}
        </div>
        <div class="form-group">
            {{ profile_form.message.label_tag }}
            {{ profile_form.message }}
        </div>
        <div class="form-group">
            {{ profile_form.icon.label_tag }}
            {{ profile_form.icon }}
        </div>
        <button class="btn btn-primary mt-3" type="submit">更新</button>
    </form>
</div>

{% endblock %}