{% extends 'base.html' %}
{% load static %}

{% block content %}

<h3 class="text-secondary">友人一覧</h3>
{% for friend in friends %}
<div class="card m-2 shadow-sm">
    <div class="card-body row p-2">
        <div class="col-3">
            <a href="{% url 'users:user_detail' friend.id %}">
                {% if friend.icon %}
                <img class="img-thumbnail rounded-circle" src="{{ friend.icon.url }}" alt="">
                {% else %}
                <img class="img-thumbnail rounded-circle" src="{% static 'default_icon.jpg' %}" alt="">
                {% endif %}
            </a>
        </div>
        <div class="col-9">
            <div class="row h-75">
                <div class="col-4">
                    <a class="h3" href="{% url 'users:user_detail' friend.id %}">{{ friend.username }}</a>
                </div>
                <div class="col-8">
                    <p>投稿数：{{ friend.article_set.count }}</p>
                    <p>出品数：{{ friend.product_set.count }}</p>
                </div>
            </div>
            <div class="h-25">
                <p>{{ friend.message }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div>
    {% if friends.has_previous %}
    <a href="{% url 'users:friend_list' %}?page=1">&laquo;first</a>
    <a href="{% url 'users:friend_list' %}?page={{ friends.previous_page_number }}">&laquo;prev</a>
    {% endif %}
    <span>{{ friends.number }}/{{ friends.paginator.num_pages }}</span>
    {% if friends.has_next %}
    <a href="{% url 'users:friend_list' %}?page={{ friends.next_page_number }}">next&raquo;</a>
    <a href="{% url 'users:friend_list' %}?page={{ friends.paginator.num_pages }}">last&raquo;</a>
    {% endif %}
</div>

{% endblock %}