{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    {% if friend.icon %}
    <img src="{{ friend.icon.url }}" alt="">
    {% else %}
    <img src="{% static 'default_icon.jpg' %}" alt="">
    {% endif %}
    <table>
        <tr>
            <th>アカウント名</th>
            <td>{{ request.user.username }}</td>
        </tr>
        <tr>
            <th>Eメールアドレス</th>
            <td>{{ request.user.email }}</td>
        </tr>
        <tr>
            <th>住所</th>
            <td>{{ request.user.address }}</td>
        </tr>
        <tr>
            <th>ポイント</th>
            <td>{{ request.user.point }}</td>
        </tr>
    </table>
    <span><a href="{% url 'users:edit_profile' %}">アカウント情報を変更</a></span>
    <span><a href="{% url 'users:questionnaire' %}">アンケートに答えてポイントゲット</a></span>
</div>
<div>
    <a href="{% url 'users:friend_list' %}">友人一覧</a>
    <a href="{% url 'snsapp:my_articles' %}">自身の投稿</a>
    <a href="{% url 'ecapp:my_products' %}">自身の出品</a>
    <a href="{% url 'ecapp:fav_products' %}">お気に入り</a>
    <a href="{% url 'ecapp:cart' %}">カート</a>
    <a href="{% url 'ecapp:order_history' %}">注文履歴</a>
    <a href="{% url 'users:point_history' %}">ポイント履歴</a>
</div>

{% endblock %}