{% extends 'base.html' %}

{% block content %}

<h3 class="text-secondary">アンケートにご協力ください</h3>
<p class="text-mute small text-secondary">※ご回答いただいた場合300point贈呈（1回限定）</p>
<form action="{% url 'users:questionnaire' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label>このアプリに対する評価</label>
        <input type="number" name="evaluation" class="form-control">
    </div>
    <div class="form-group">
        <label>ご要望などがありましたらお書きください</label>
        <input type="text" name="content" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">回答</button>
</form>

{% endblock %}